
<div class="card strings_<%= strings %> bars_<%= bars %>">

  <div class="strings_bg">
    <% _(strings).times(function(){ %>
      <div class="string_bg"></div>
    <% }); %>
  </div>  
  
    <div class="bars">
    <% _.each(positions.bar, function(bar_pos, index) { %>
  	  <div class="bar bar_pos_<%= bar_pos.no %>" >

        <div class="chords">
        <% if(bar_pos.hasOwnProperty('chord')) { %>
          <div class="chord"><%= bar_pos.chord %></div> 
        <% } %>
        </div><!-- /chords -->

        <div class="notes">  
        <% _.each(bar_pos.pos, function(string) { %>         
          <div class="string string_pos_<%= string.no %> clearfix">
          	<% if(string.hasOwnProperty('fret')) { %>
          	  <div class="fret"><%= string.fret %></div>
          	<% } %>
          	<% if(string.hasOwnProperty('accent')) { %>
          	  <div class="accent"><%= string.accent %></div>
          	<% } %>
          </div><!-- /string --> 
  	    <% }); %>
        </div><!-- /notes -->

        <div class="fingers">
        <% _.each(bar_pos.pos, function(string) { %>
          <div class="string string_pos_<%= string.no %> <% if(string.hasOwnProperty('finger') && !string.finger){ %>hide<% } %> clearfix">
            <% if(string.hasOwnProperty('finger')) { %>
              <div class="finger"><%= string.finger %></div>
            <% } %>
          </div><!-- /string --> 
        <% }); %>
        </div><!-- /fingers -->

  	  </div><!-- /bar --> 
  	<% }); %>
    </div><!-- /bars -->
  


  <footer>
    <small><%= id %></small>
  </footer>  
</div><!-- /card -->

<p class="info">Instrument: <span class="instrument"><%= instrument.name %></span></p>
<p class="info">Time Signature: <span class="time_signature"><%= time_signature.upper %>/<%= time_signature.lower %></span></p>

