
$card_height: 360px;
$card_width: $card_height * 1.5;
$base_font_size: $card_height * .083333333;

.card_edit {
  height: $card_height;
  margin: 24px auto;
  width: $card_width;

  .bars{
    .bar:hover {
    }
  }

  .bar input {
    background-color: #B8DDE3; 
    border: 1px solid transparent; 
    font-family: 'Myriad Pro', 'Segoe UI', Helvetica, Arial, sans-serif;
    font-size: $base_font_size * .8;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    height: 100%;
    opacity: .6;
    width: 100%;
    &:focus {
      background-color: #fff; 
      border: 1px solid #ddd; 
      opacity: 1;
    }
    &.invalid {
      background-color: #e1bfbf; 
      border: 1px solid #e1bfbf; 
    }
    &.valid {
      background-color: #bfe1c9;
      border: 1px solid #bfe1c9; 
    }
  }
  .chord,
  .accent,
  .fret,
  .finger
  {
    background-color: transparent; 
  }
  .chord {
    margin-bottom: 17px;
  }
  .chord,
  .chord input {
    font-size: $base_font_size * 1.2;
    height: $base_font_size * 1.2;
    width: $base_font_size * .9;
  }
  .accent, 
  .accent input {
    font-size: $base_font_size * .7;
    height: $base_font_size * .65;
    width: $base_font_size * .55;
  }

  .fret, 
  .fret input {
    font-size: $base_font_size;
    height: $base_font_size * .9;
    width: $base_font_size * .8;
  }
  .finger, 
  .finger input
  {
    color: #999;
    font-size: $base_font_size * .8;
    font-weight: bold;
    height: $base_font_size * .8;
    text-align: center;
    width: $base_font_size * .8;
  }
}

.save {
  cursor: pointer;
}

/*
.input_overlay {
  background-color: #aaa; 
  height: $card_height * .4;
  padding: $card_height * .03;
  width: $card_width * .3;
  h1 {
    font-size: $base_font_size * .8;
    margin: 0 auto;
    text-align: center;
    width: $card_width * .27;
  }
  div {
    margin: 0 auto;
  }
  p {
    font-size: $base_font_size * .5;
    margin: 0 auto;
    text-align: center;
    width: $card_width * .27;
  }
}
*/