
.measure {
  float: left;
  font-family: 'Myriad Pro', 'Segoe UI', Helvetica, Arial, sans-serif;
  margin: 6px 6px 12px;
}

.measuresEditContent {
  .measure {
    float: none;
  }
}

.measure_chord {
  font-size: 24px;
  font-weight: bold;
}

.info {
  float: left;
  color: #fff;
  font-weight: bold;
  margin-right: 12px;
  span {
    color: #aaa; 
    font-weight: normal;

  }
}
