
.measure {
  float: left;
  font-family: 'Myriad Pro', 'Segoe UI', Helvetica, Arial, sans-serif;
  margin: 6px 6px 12px;
}

.measure_chord {
  font-size: 24px;
  font-weight: bold;
}

.info {
  float: left;
  color: #fff;
  font-weight: bold;
  margin-right: 12px;
  span {
    color: #aaa; 
    font-weight: normal;

  }
}

.card {
  background-color: #fff;
    background-image: image-url('paper.jpg');
  clear: both;
  height: 240px;
  overflow: hidden;
  position: relative;
  width: 360px;

  -webkit-box-shadow: 0 8px 6px -6px #777;
  -moz-box-shadow: 0 8px 6px -6px #777;
  box-shadow: 0 8px 6px -6px #777;

  header {
    /* */
    margin: 12px 6px;

    h1 {
      margin: 0;
    }
  }
  
  footer {
    bottom: 0px;
    position: absolute;
    right: 3px;

  }
}

.strings_bg, .chords, .notes, .fingers {
  margin: 0;
  padding: 0;
}

.chord,
.accent, 
.fret, 
.finger 
{
  font-size: 16px;
  font-weight: bold;
  height: 12px;
  text-align: center;
  width: 12px;
}

.finger,
footer {
  color: #999;
}

.strings_bg {
  font-size: 13px;
  line-height: 19px;
  position: absolute;
  width: 100%;
  .string_bg {
    border-bottom: 2px solid #999;
  }
}

.bars {
  width: 360px;
}

.chords {
  /* visibility: hidden; */
  margin: 0;
  height: 24px;
  .chord,
  .chord input {
    font-size: 24px;
    font-weight: bold;
  }
}

.notes {
  position: relative;
  .string {
    position: absolute;
  }
  .accent, .fret {
    background-color: #fff;
    float:left;
    font-size: 20px;
  }
  .accent {
    font-size: 14px;
    margin-top: -3px;
  }
  .fret {

  }
}

.fingers {
  height: 75px;
  position: absolute;
  bottom: 0;
  .finger {
    font-size:14px;
    margin-top: 3px;
  }
}

.bar {
  float: left;
  margin: 3px;
  position: relative;
}



/* String CSS - 4, 5, 6 */

.strings_4 {
  .strings_bg {
    margin-top: 86px;
    .string_bg {
      margin-bottom: 16px;
    }
  }
  .bar {
    height: 212px;
    .chords {
      margin-bottom: 37px;
    }
    .string_pos_1 {
      top: 0px;
    }
    .string_pos_2 {
      top: 18px;
    }
    .string_pos_3 {
      top: 36px;
    }
    .string_pos_4 {
      top: 54px;
    }  
  }

  .fingers { 
  }   
}

.strings_5 {
  .strings_bg {
    margin-top: 66px;
    .string_bg {
      margin-bottom: 16px;
    }
  }
  .bar {
    height: 212px;
    .chords {
      margin-bottom: 17px;
    }
    .string_pos_1 {
      top: 0px;
    }
    .string_pos_2 {
      top: 18px;
    }
    .string_pos_3 {
      top: 36px;
    }
    .string_pos_4 {
      top: 54px;
    }  
    .string_pos_5 {
      top: 72px;
    }
  }

  .fingers { 
  }   
}

.strings_6 {
  .strings_bg {
    margin-top: 74px;
    .string_bg {
      margin-bottom: 16px;
    }
  }
  .bar {
    height: 232px;
    .chords {
      margin-bottom: 25px;
    }
    .string_pos_1 {
      top: 0px;
    }
    .string_pos_2 {
      top: 18px;
    }
    .string_pos_3 {
      top: 36px;
    }
    .string_pos_4 {
      top: 54px;
    }  
    .string_pos_5 {
      top: 72px;
    }
    .string_pos_6 {
      top: 90px;
    }
  }

  .fingers { 
  }   
}

/* Bar CSS - 6, 8, 12, 16 */

.bars_6 {
  .bars {
    margin-left: 5px;
    .bar {
      margin-right: 21px;
      width: 36px; /* 12px + fret.margin-right*/
    }
  }
  .notes {
    width: 40px;
    .fret {
      margin-right: 16px;
    }  
  }   
}

.bars_8 {
  .bars {
    margin-left: 5px;
    .bar {
      margin-right: 6px;
      width: 36px; /* 12px + fret.margin-right*/
    }
  }
  .notes {
    width: 33px;
    .fret {
      margin-right: 9px;
    }  
  }
}

.bars_12 {
  .bars {
    margin-left: 5px;
    .bar {
      margin-right: 4px;
      width: 22px; /* 12px + fret.margin-right*/
    }
  }
  .notes {
    width: 40px;
    .fret {
      margin-right: 2px;
    }  
  }   
}

.bars_16 {
  .bars {
    margin-left: 2px;
    .bar {
      margin-right: 1px;
      width: 18px; /* 12px + fret.margin-right*/
    }
  }
  .notes {
    width: 32px;
    .fret {
      margin-right: 0px;
    } 
    .accent {
      margin-left: -1px;
    }   
  }
}

.eighth {
  .bar_pos_1,
  .bar_pos_3,
  .bar_pos_5,
  .bar_pos_7,
  .bar_pos_9,
  .bar_pos_11,
  .bar_pos_13,
  .bar_pos_15 {
    .accent{
      display: none;
    }
    
  }
  .bar_pos_2,
  .bar_pos_4,
  .bar_pos_6,
  .bar_pos_8,
  .bar_pos_10,
  .bar_pos_12,
  .bar_pos_14,
  .bar_pos_16 {
    .chord {
      display: none;
    }
    .fret {
      display: none;
    }
    .finger {
      display: none;
    }
  }
}

.sixteenth {

}


.card_edit {

  .bars{
    .bar:hover {
    }
  }

  .bar input {
    background-color: #eee; 
    border: 1px solid transparent; 
    font-family: 'Myriad Pro', 'Segoe UI', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    height: 100%;
    width: 100%;
    &:focus {
      background-color: #fff; 
      border: 1px solid #ddd; 
    }
  }
  .chord,
  .accent,
  .fret,
  .finger
  {
    background-color: transparent; 
  }
  .chord {
    margin-bottom: 17px;
  }
  .chord,
  .chord input {
    font-size: 24px;
    height: 23px;
    width: 18px;
  }
  .accent, 
  .accent input {
    font-size: 14px;
    height: 13px;
    visibility: hidden;
  }
  .accent:hover {
      visibility: visible;
    }

  .fret, 
  .fret input {
    font-size: 20px;
    height: 19px;
  }
  .finger, 
  .finger input
  {
    color: #999;
    font-size: 16px;
    font-weight: bold;
    height: 12px;
    text-align: center;
    width: 12px;
  }
}
