

@import "measures";
@import "card";
@import "card_edit";

body {
	background-color: #333;
	/*background-image: image-url('wood.png');*/
	background-repeat:repeat-x;
	background-position: 0 -480px;
	color:#ddd;
}

nav {
	margin-bottom: 24px;
}

footer {
	clear: both;
}

.clear {
	clear: both;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.hide {
  display: none;
}

//containers
.card_edit_container {
	float: left;
	margin: 24px auto;
}

//lists 

.item_list {
	float: left;
	margin:0 12px 0 0; 
	position:relative 
}
.item_list .field {
	width:200px; 
	background:#fff;
    color:#333;
	padding:5px; 
	border:none; cursor:pointer;
	border:solid 1px #ddds;
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}
.item_list .field:hover {
	border:solid 1px #fff;
	-moz-box-shadow:0 0 5px #999; 
	-webkit-box-shadow:0 0 5px #999; 
	box-shadow:0 0 5px #999
}
.item_list>ul.list { 
	display:none;
	position:absolute; 
	left:30px; 
	top:-30px; 
	z-index:999;
	width:200px;
	margin:0; 
	padding:10px; 
	list-style:none;
	background:#fff; 
	color:#333;
	-moz-border-radius:5px; 
	-webkit-border-radius:5px; 
	border-radius:5px;
	-moz-box-shadow:0 0 5px #999; 
	-webkit-box-shadow:0 0 5px #999; 
	box-shadow:0 0 5px #999
}
.item_list>ul.list li {
	padding:10px;
	border-bottom: solid 1px #ccc;
}
.item_list>ul.list li:hover {
	background:#EC6603; color:#fff;
}
.item_list>ul.list li:last-child { 
	border:none 
}
