<!DOCTYPE html>
<html>
<head>
  <title>Tab App</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= requirejs_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1> Tab App </h1>
  </header>

  <nav></nav>

  <%= yield %>

  <footer>
    <p> 
      <small> Copyright 2012, Greg Dunn.</small>
    </p>  
  </footer>
</body>
</html>
